@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: #337537;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  margin-left: 2.5rem;
}

.navbar a:hover {
  color: #053810;
  opacity: 1;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}


/* END OF NAVBAR - START OF BODY CSS */

/* home page css*/
.hero {
  background-image: url(images/backgroundimage1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 1000px;
  padding: 22%;
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 20px;
  /* row-gap column gap */


  .hero-title {
    color: white;
    margin-bottom: 10rem;
    font-size: 3rem;
  }

  p {
    color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .columm-right {
    position: relative;
    margin-bottom: 15%;
  }
}

/* about us css*/
.about-content {
  background: #1c3a1e;
  padding: 10%;
  height: 1000px;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 20px;

  /* row-gap column gap */
  hr {
    display: none;
  }

  h1 {
    color: #fbfdf8;
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  p {
    color: #edf3ec;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

/* our mission css*/
.mission {
  background: rgb(207, 214, 207);
  padding: 10%;
  width: 100%;
  height: 1000px;

  .content {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 80px;
    /* row-gap column gap */

    div {
      flex: 1;
    }
  }

  .text {
    color: #337537;
    margin-top: 30px;
  }

  h1 {
    color: #337537;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  ul {
    /* list-style-type: none; */
    margin: 0rem 0rem 2rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .img-mission {
    width: 500px;
    height: 400px;
  }
}


/* service-options css*/

/*services css*/

.service {
  background-color: #2e4d30;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 0px;

  .service-title h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

.cards-container {
  background-color: transparent;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  flex: 1 0 35%;

  .card-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.card-content {
  background-color: rgb(207, 214, 207);
  color: #337537;
  flex: 1 0 50%;
  font-size: var(--s4);
  font-weight: 200;
  /*letter-spacing: -0.06em;*/
  font-family: "Poppins", sans-serif;
  padding: 40px 40px 20px 40px;
  overflow: hidden;

  h2 {
    color: #337537;
    font-size: 1.5rem;
    margin-bottom: 13px;
    font-weight: 200;
    line-height: 5rem;
  }
}



.card-actions a {
  width: 100%;
  display: inline-block;
  background: #337537;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  flex: 1 0 15%;
  padding: 20px 20px 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

}

.card-actions a:hover {
  color: #519c5b;
}

/* contact css */
.contact {
  color: white;
  background-color: rgb(207, 214, 207);
  width: 100%;

  .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-map {
    height: 600px;
    width: 100%;
  }

  .contact-form {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .field {
    color: white;
    width: 100%;
    background-color: rgb(207, 214, 207);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border: solid;
    border-width: 0px 0px 2px 0px;
  }

  input:focus {
    outline: none;
  }

  textarea:focus {
    outline: none;
  }

  .textarea {
    min-height: 150px;
  }

  .btn {
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #337537;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: none;
    border-radius: 20px;
  }

  .btn:hover {
    background-color: #023609;
  }

  .informations {
    strong {
      display: inline-block;
      justify-content: center;
      font-size: 1.5em;
      padding: 5px;
    }
  }

  label {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}


/* END OF BODY CSS - START FOOTER CSS */

footer {
  background-color: #337537;
}

.footercontainer {
  width: 100%;
  padding: 50px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i {
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}

/* Hover effects on social media icons */
.socialicons a:hover {
  background-color: #000;
  transition: 0.5s;
}

.socialicons a:hover i {
  color: black;
  transition: 0.5s;
}

.footernav {
  margin: 30px 0;
}

.footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footernav ul li a {
  display: bold;
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footernav ul li a:hover {
  opacity: 1;
}

.footerbottom {
  background-color: #337537;
  padding: 20px;
  text-align: center;
}

.footerbottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.responsive-logo {
  display: none;
}


/* For small screens/laptops size from 1024px wide and down */
@media (max-width: 1200px) {
  .header {
    width: 100%;
    padding: 1.3rem 5%;
  }

  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 160px 40px 80px 40px;
    gap: 0;

    .columm-right {
      display: none;
    }

    .responsive-logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    .responsive-title {
      color: white;
      font-size: 1.2rem;

    }

    p {
      font-size: 1.1rem;
      line-height: 1.2;
      text-align: justify;
    }

    .hero-title {
      display: none;
    }
  }

  .about-content {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;

    h1 {
      color: white;
      font-size: 2rem;
      justify-content: left;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.2;
      text-align: justify;
      justify-content: center;
    }
  }

  .mission {
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;

    .content {
      gap: 0px 0px;

      div {
        flex: 1 0 100%;
      }
    }

    h1 {
      font-size: 2rem;
      justify-content: left;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      text-align: justify;
      justify-content: center;
    }

    .img-mission {
      width: 100%;
      height: auto;
    }
  }

  .service {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .service-title {
    font-size: 1.2rem;
    margin-top: 80px;

    h1 {
      color: white;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
    }
  }

  .cards-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px 0px;
    margin-bottom: 120px;
  }

  .card {
    max-width: 400px;
    flex: 1 0 100%;
  }

  .card-content {
    font-size: 0.7rem;
    line-height: 1rem;

    h2 {
      font-size: 0.8rem;
      margin-bottom: 0%;
      margin-top: 0%;
    }
  }

  .card-actions {
    font-size: 1rem;
    border-width: 0;
  }

  .img-responsive {
    width: 100%;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 0;
    background-color: #337537;
    overflow: hidden;
    transition: .3s ease;
  }

  .navbar a:hover {
    color: #053810;
    opacity: 1;
  }

  #check:checked~.navbar {
    height: 17rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .footernav ul {
    flex-direction: column;
  }
  
  .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  
  .contact-form {
    margin-left: 40px;
    margin-right: 40px;
  }

}

@media (max-width: 768px) {
  .hero {
    .responsive-title{
      font-size: 1.2rem;
    }
    p{
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .about-content{
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .mission {
      h1 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      li {
        font-size: 1rem;
        line-height: 1.5rem;
      }
  }
  .service{
      .service-title h1 {
        font-size: 1.2rem;
      }
    .card-content {
      font-size: 1rem;
      line-height: 1.5rem;
  
      h2 {
        font-size: 1.2rem;
      }
    }
  
    .card-actions {
      font-size: 1rem;
    }
  }
  .footernav ul li {
   font-size: 1rem;
  }
  .socialicons a i {
    font-size: 2em;
  }
  .footerbottom {
    font-size: 1rem;
    line-height: 1rem;
  }
}


@media (max-width: 480px) {
  .hero {
    .responsive-title{
      font-size: 0.8rem;
    }
    p{
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
  .about-content{
    h1 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
  .mission {
      h1 {
        font-size: 0.8rem;
      }
      p {
        font-size: 0.7rem;
        line-height: 1rem;
      }
      li {
        font-size: 0.7rem;
        line-height: 1rem;
      }
  }
  .service{
    .service-title h1 {
      font-size: 0.8rem;
    }
    .card-content {
      font-size: 0.7rem;
      line-height: 1rem;
  
      h2 {
        font-size: 0.8rem;
      }
    }
  
    .card-actions {
      font-size: 0.7rem;
    }
  }
  .footernav ul li {
   font-size: 0.8rem;
  }
  .socialicons a i {
    font-size: 1.5em;
  }
  .footerbottom {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}