@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900;display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
}

  a {
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar {
    height: 80px;
    background: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar .toggle-btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .navbar .navbar-item a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .navbar-item {
    display: flex;
    gap: 2rem;
  }
  
  /* DROPDOWN MENU */
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 200px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown-menu.open {
    height: 170px;
  }
  
  .dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* RESPONSIVE DESIGN */
  @media(max-width: 992px) {
    .navbar .navbar-item {
      display: none;
    }
  
    .navbar .toggle-btn {
      display: block;
    }
  
    .dropdown-menu {
      display: block;
      
    }
  }

/* END OF NAVBAR - START OF BODY CSS */

/* home page css*/
.hero {
    background: white;
    padding: 10%;
    max-height: 1000px;
    grid-template-columns: 1fr 1fr;
    padding: 20%;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 20px; /* row-gap column gap */
  
  
   h1 {
    margin-bottom: 10rem;
    font-size: 3rem;
  }
  
   p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  img {
   position: relative;
   padding-bottom: 40%;
   margin-bottom: 40%;
  }
}

  /* about us css*/
  .about {
    background: yellowgreen;
    padding: 10%;
    max-height: 1000px;
    grid-template-columns: 1fr 1fr;
    padding: 20%;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 20px; /* row-gap column gap */
   hr {
   display: none;
  }

   h1 {
    margin-bottom: 5rem;
    font-size: 3rem;
  }
   p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  }

  /* our mission css*/
.mission {
    background: white;
    padding: 10%;
    max-height: 1000px;
    grid-template-columns: 1fr 1fr;
    padding: 20%;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 20px; /* row-gap column gap */
 
    h1 {
      margin-bottom: 5rem;
      font-size: 3rem;
    }
    
    p {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    
    ul {
      list-style-type: none;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
  

  /* services css*/
  .services {
    background: yellowgreen;
    padding: 10%;
    max-height: 1200px;
    grid-template-columns: 1fr 1fr;
    padding: 20%;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 20px; /* row-gap column gap */
  
   hr {
   display: none;
  }

   h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
  li{
  margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5;
    list-style: none;
}

  p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
    line-height: 1.5;

}
  }

  /* contact css */
.container {
    background: white;
    padding: 10%;
    max-height: 1000px;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 40px; /* row-gap column gap */

    h1 {
      margin-bottom: 5rem;
      font-size: 3rem;
  }
    p {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
  }
    input {
      width: 50%;
      padding: 10px 10px;
      margin: 5px 0;
      display: block;
      box-sizing: border-box;
    
  }
     label {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
  }
 
}
  

  
  
  
  /* END OF BODY CSS - START FOOTER CSS */

  footer {
    background-color: aquamarine;
  }

  .footercontainer {
    width: 100%;
    padding: 50px 30px 20px;
  }

  .socialicons {
    display: flex;
    justify-content: center;
  }

  .socialicons a {
     text-decoration: none;
     padding: 10px;
     background-color: aliceblue;
     margin: 10px;
     border-radius: 50%;
  }

  .socialicons a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
  }

  /* Hover effects on social media icons */
  .socialicons a:hover{
    background-color: #000;
    transition: 0.5s;
  }

  .socialicons a:hover i{
    color: black;
    transition: 0.5s;
  }

  .footernav{
    margin: 30px 0;
  }

  .footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .footernav ul li a{
    display: bold;
    color: #551a8b;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footernav ul li a:hover{
    opacity: 1;
  }

  .footerbottom{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
  }

  .footerbottom p{
    color: black;
  }

  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }

  @media (max-width: 700px){
    .footernav ul{
      flex-direction: column;
    }
    .footernav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }